body {
  margin: 0;
  background-color: #000000;
  background-size: 100%;
  text-align: center;
  overflow: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
